<ion-header no-border>
  
  <ion-item color="medium" *ngIf="connection_status==false">
    <ion-label style="text-align: center;">
      No internet connection
    </ion-label>
  </ion-item>

  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>SOTKANAI SCOREBOARD</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="processLogout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-item class="student-details">
    <ion-label>
      <h2 class="student-name">{{student_name}}</h2>
      <h3 class="student-school">{{school_name}}</h3>
    </ion-label>
  </ion-item>
  
  <ion-list class="score-list">
    
    <ion-item *ngFor="let criteria of grading_rubric">
      <ion-label>
        <ion-text color="dark">
          <h3>{{criteria.title}} <ion-badge class="score-badge">{{criteria.ngmodel}}</ion-badge></h3>
        </ion-text>
        <ion-range min="0" max="{{criteria.maxScore}}" color="dark" pin="true" [(ngModel)]="criteria.ngmodel" *ngIf="student_order>2 || student_order=='' || student_order==undefined; else maxScore1">
          <ion-label slot="start">0</ion-label>
          <ion-label slot="end">{{criteria.maxScore}}</ion-label>
        </ion-range>
        <ng-template #maxScore1>
          <ion-range min="0" max="{{criteria.maxScore1}}" color="dark" pin="true" [(ngModel)]="criteria.ngmodel" *ngIf="student_order==1; else maxScore2">
            <ion-label slot="start">0</ion-label>
            <ion-label slot="end">{{criteria.maxScore1}}</ion-label>
          </ion-range>
        </ng-template>
        <ng-template #maxScore2>
          <ion-range min="0" max="{{criteria.maxScore2}}" color="dark" pin="true" [(ngModel)]="criteria.ngmodel">
            <ion-label slot="start">0</ion-label>
            <ion-label slot="end">{{criteria.maxScore2}}</ion-label>
          </ion-range>
        </ng-template>
      </ion-label>
    </ion-item>

  </ion-list>

  <div class="submit-button">
    <ion-button expand="full" class="submit-btn no-padding" color="dark" (click)="submitScores()">Submit</ion-button>
  </div>

</ion-content>
