<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>SOTKANAI SCOREBOARD</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="processLogout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="student-details">
    <ion-label>
      <h2 class="student-name">{{student_name}}</h2>
      <h3 class="student-school">{{school_name}}</h3>
    </ion-label>
  </ion-item>
  
  <ion-list class="score-list">
    
    <ion-item *ngFor="let criteria of grading_rubric">
      <ion-label>
        <ion-text color="primary">
          <h3>{{criteria.title}} <ion-badge class="score-badge">{{criteria.ngmodel}}</ion-badge></h3>
        </ion-text>
        <ion-range min="0" max="100" color="primary" pin="true" [(ngModel)]="criteria.ngmodel">
          <ion-label slot="start">0</ion-label>
          <ion-label slot="end">100</ion-label>
        </ion-range>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-button expand="full" class="submit-btn no-padding" color="primary" (click)="submitScores()">Submit</ion-button>

</ion-content>
