# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
*.cmd
00_ansi-html
00_browserslist
acorn
atob
autoprefixer
blocking-proxy
build-optimizer
cordova-res
create
cssesc
errno
esparse
esvalidate
image-size
import-local-fixture
ionic-app-scripts
ivy-ngcc
jasmine
js-yaml
jsesc
json5
JSONStream
karma
lessc
loose-envify
miller-rabin
mime
mkdirp
multicast-dns
ng
ng-xi18n
ngc
node-sass
parser
protractor
regjsparser
rimraf
sass
semver
sshpk-conv
sshpk-sign
sshpk-verify
stylus
terser
tree-kill
ts-node
tsc
tslint
tsserver
uuid
webdriver-manager
webpack
webpack-dev-server
which
