.home-area {
    display: block;
    margin: auto;
    padding: 10px 0px;
}

.home-area ion-item {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    --background: transparent;
}

.header .col ion-item {
    --background: lightgrey;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border-width: 0;
}

.no-records {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

ion-item {
    --border-style: none;
}