<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>SOTKANAI SCOREBOARD</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="processLogout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-class">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="home-area">
    <ion-grid fixed="true">
      <ion-row class="row header">
        <ion-col class="col" size="6">
          <div>
            <ion-item>
              Jaffna Hindu College
            </ion-item>
          </div>
        </ion-col>
        <ion-col class="col" size="6">
          <div>
            <ion-item>
              Kokuvil hindu College
            </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row">
        <ion-col class="col" size="6">
          <div>
              <ion-item (click)="openStudentScores(2)">
                S. Thuvarahan
              </ion-item>
          </div>
        </ion-col>
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                T. Rajinthan
              </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row">
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                V. Sajeevan
              </ion-item>
          </div>
        </ion-col>
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                S. Sinthujan
              </ion-item>
          </div>
        </ion-col>
      </ion-row>

      

      <ion-row class="row">
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                V. Sajeevan
              </ion-item>
          </div>
        </ion-col>
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                S. Sinthujan
              </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row">
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                V. Sajeevan
              </ion-item>
          </div>
        </ion-col>
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                S. Sinthujan
              </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row">
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                V. Sajeevan
              </ion-item>
          </div>
        </ion-col>
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                S. Sinthujan
              </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row">
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                V. Sajeevan
              </ion-item>
          </div>
        </ion-col>
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                S. Sinthujan
              </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row">
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                V. Sajeevan
              </ion-item>
          </div>
        </ion-col>
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                S. Sinthujan
              </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row">
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                V. Sajeevan
              </ion-item>
          </div>
        </ion-col>
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                S. Sinthujan
              </ion-item>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row">
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                V. Sajeevan
              </ion-item>
          </div>
        </ion-col>
        <ion-col class="col" size="6">
          <div>
              <ion-item>
                S. Sinthujan
              </ion-item>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>
