<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>SOTKANAI SCOREBOARD</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="processLogout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-class">

  <div class="home-area">
    <ion-item>
      <ion-select class="panel-selector" placeholder="Select Panel" [(ngModel)]="panel_id">
        <ion-select-option value="a">Blue</ion-select-option>
        <ion-select-option value="b">Blue</ion-select-option>
        <ion-select-option value="c">Blue</ion-select-option>
        <ion-select-option value="d">Blue</ion-select-option>
        <ion-select-option value="e">Blue</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" class="no-padding" color="dark" (click)="selectPanel()">NEXT</ion-button>
  </div>

</ion-content>
